<div class="full height image">
  <div class="ui main container">
    <div class="ui information container">
      <div class="ui center aligned basic segment">
        <%= link_to user_omniauth_authorize_path(:facebook) do %>
          <button class="ui facebook big button">
            <i class="facebook icon"></i>
           Sign up with Facebook
          </button>
        <% end %>
        <%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
          <button class="ui google plus big button">
            <i class="google plus icon"></i>
            Sign up with Google
          </button>
        <% end %>
      </div>
      <div class="ui horizontal inverted divider">
        Or
      </div>
      <%= devise_error_messages! %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :id => "signup-form", :class => "ui middle aligned inverted form" }) do |f| %>
        <div class="field">
          <label>Name</label>
          <div class="two fields">
            <div class="field">
              <input type="text" name="user[first_name]" placeholder="Donald">
            </div>
            <div class="field">
              <input type="text" name="user[last_name]" placeholder="Duck">
            </div>
          </div>
        </div>
        <div class="field">
          <label>Email</label>
          <%= f.email_field :email, placeholder: "d.duck@duckburg.com" %>
        </div>
        <div class="field">
          <label>Create a password</label>
          <%= f.password_field :password, autocomplete: "off", placeholder: "top secret password" %>
        </div>
        <button class="ui blue submit button">
          Sign up
          <i class="right arrow icon"></i>
        </button>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#signup-form').form({
    on     : 'blur',
    inline : true,
    fields : {
      email: {
        identifier : 'user[email]',
        rules      : [
          {
            type     : 'email'
          },
          {
            type     : 'empty'
          }
        ]
      },
      first: {
        identifier : 'user[first_name]',
        rules      : [
          {
            type   : 'empty'
          }
        ]
      },
      last: {
        identifier : 'user[last_name]',
        rules      : [
          {
            type   : 'empty'
          }
        ]
      }
    }
  });
  $('#user_email').val(getParameterByName('email'));
</script>