<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p><b><%= @sender.display_name %></b>: <%= @reslyp.comment %></p>
    <p><%= link_to @slyp.display_title, controller: "home", action: "feed", user_email: @recipient.email, user_token: @recipient.authentication_token, preview_user_slyp_id: @reslyp.recipient_user_slyp.id %></p>
    <p><%= truncate @slyp.description, length: 300, separator: /./, omission: "..." %></p>
    <p style="text-align:center;"><%= link_to "sent by Slyp on behalf of #{@sender.display_name}", controller: "home", action: "feed", user_email: @recipient.email, user_token: @recipient.authentication_token, preview_user_slyp_id: @reslyp.recipient_user_slyp.id %></p>
    <p style="text-align:center;">
      <%= link_to "update my email preferences", { controller: "home", action: "feed", user_email: @recipient.email, user_token: @recipient.authentication_token, skip_to: "email_settings" }, { style: "color:#a0a0a0;" } %>
    </p>
  </body>
</html>
