<i id="close-left-pane" class="first floating-action big angle double left link icon" rv-class-share="appState.rightPaneActive" rv-show="appState.leftPaneActive" style="display:none;"></i>
<i id="open-conversations" class="second floating-action big comment outline link icon" rv-class-share="appState.rightPaneActive" rv-show="appState.leftPaneActive" style="font-size:1.6em;display:none;"></i>

<div id="js-sidebar-region" class="ui right very wide sidebar vertical menu">
  <%= render "home/backbone_templates/sidebar" %>
</div>

<div id="js-preview-sidebar-region" class="ui left sidebar vertical menu" rv-class-unless-fullscreen="appState.rightPaneActive" rv-class-majority-width="appState.rightPaneActive">
  <%= render "home/backbone_templates/preview_sidebar" %>
</div>

<div id="js-settings-sidebar-region" class="ui left fullscreen sidebar vertical menu">
  <%= render "home/backbone_templates/settings_sidebar" %>
</div>

<div class="pusher">
  <div id="js-nav-bar-region">
    <%= render "home/backbone_templates/nav_bar" %>
  </div>
  <div id="js-feed-region" style="background-color: #FAFAFA;">
    <%= render "home/backbone_templates/feed" %>
  </div>
  <%= javascript_include_tag "feed" %>
  <%= render "home/backbone_templates/slyp_card" %>
  <%= render "home/backbone_templates/reply" %>
  <%= render "home/backbone_templates/reslyp" %>
  <%= render "home/backbone_templates/no_persons_message" %>
  <%= render "home/backbone_templates/no_slyps_message" %>
  <%= render "home/backbone_templates/no_reslyps_message" %>
  <%= render "home/backbone_templates/onboarder_modal" %>
  <%= render "home/backbone_templates/preview_modal" %>
</div>

<div id="js-modals-region" class="ui dimmer modals page"></div>

<% if Rails.env.development? or Rails.env.staging? %>
  <script type="text/javascript">
    $('.ui.sidebar').sidebar({
      transition: 'overlay',
      onVisible: function(){
        if ($(window).width() < 769){
          $(this).removeClass('uncover').addClass('overlay');
        }
      }
    });
    rivets.bind($(document), { appState: slypApp.state });
  </script>
<% end %>
