<div class="full height image">
  <div class="ui main fluid container">
    <div class="ui basic segment">
      <button id="login" class="ui right floated button">Login</button>
    </div>
    <div class="ui information container">
      <h1 class="ui center aligned header">slyp is disrupting the share button</h1>
      <p>One place to store, share and discover the most relevant content to you and your friends. Sign up below to be part of our beta :)</p>
      <div class="ui center aligned container" style="max-width: 400px !important;">
        <form id="beta-request">
          <div class="ui huge action fluid input">
            <input type="email" name="email" placeholder="Here's my email">
            <button class="ui positive submit button">Thanks!</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="ui vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui horizontal inverted small divided link list">
        <a class="item">© 2016</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>

<div id="login-modal" class="ui modal">
  <div class="ui center aligned basic segment">
    <%= link_to user_omniauth_authorize_path(:facebook) do %>
      <button class="ui facebook big button">
        <i class="facebook icon"></i>
       Login with Facebook
      </button>
    <% end %>
    <%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
      <button class="ui google plus big button">
        <i class="google plus icon"></i>
        Login with Google
      </button>
    <% end %>
  </div>
  <div class="ui horizontal divider">
    Or
  </div>
  <%= form_tag session_path(:user), { :class => "ui form" } do %>
    <div class="two fields">
      <div class="field">
        <div class="ui center aligned container">
          <div class="ui left icon input">
            <i class="user icon"></i>
              <%= text_field_tag "user[email]", nil, name: "email", :placeholder => "E-mail address", :style => "cursor: auto; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;" %>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui center aligned container">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= password_field_tag "user[password]", nil, name: "password", :placeholder => "Password", :style => "cursor: auto; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;" %>
          </div>
        </div>
      </div>
    </div>
    <button class="ui fluid huge submit button">Login</button>
  <% end %>
</div>

<div id="beta-success" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Thank you!
  </div>
  <div class="content">
     You are <span style="font-weight: bold;"></span> on the waitlist. We've sent you a welcome email and will be in touch with an invitiation shortly :)
  </div>
  <div class="actions">
    <button class="ui blue button">Got it</button>
  </div>
</div>

<div id="beta-error" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
  Hi again! :)
  </div>
  <div class="content">
    We see that you had already signed up for slyp beta, and we love and appreciate your enthusiasm. We will be in touch shortly with an invite.
  </div>
  <div class="actions">
    <button class="ui blue button">Got it</button>
  </div>
</div>

<%= javascript_include_tag "home" %>
