<div class="full height image">
  <div class="ui main fluid container">
    <div class="ui basic segment">
      <button id="login" class="ui right floated button">Login</button>
    </div>
    <div class="ui information container">
      <h1 class="ui center aligned header">slyp the share button</h1>
      <p>the best place to share and discuss articles with friends and colleagues. all the best content, in one place. sign up below :)</p>
      <div class="ui center aligned container" style="max-width: 400px !important;">
        <form id="beta-request">
          <div class="ui huge action fluid input">
            <input type="email" name="email" placeholder="Here's my email" autofocus>
            <button class="ui positive submit button">Thanks!</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="ui vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="/users/sign_up">© 2016</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>

<div id="login-modal" class="ui modal">
  <div class="ui center aligned basic segment">
    <%= link_to user_facebook_omniauth_authorize_path do %>
      <button class="ui facebook big button">
        <i class="facebook icon"></i>
       Login with Facebook
      </button>
    <% end %>
  </div>
  <div class="ui horizontal divider">
    Or
  </div>
  <div class="ui grid">
    <div class="ui centered column">
      <%= form_for(resource, :as => resource_name, :url => session_path(:user), :class => "ui form") do |f| %>
        <div class="two fields">
          <div class="field">
            <div class="ui center aligned container">
              <div class="ui left icon input">
                <i class="user icon"></i>
                  <%= f.text_field :email, :placeholder => "my email" %>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui center aligned container">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                  <%= f.password_field :password, :placeholder => "top secret password" %>
              </div>
            </div>
          </div>
        </div>
        <div class="ui basic center aligned segment" style="padding-left: 15%;">
          <button class="ui large submit button">Login</button>
          <%= link_to "Forgot your password?", new_password_path(:user) %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<div id="beta-success" class="ui small modal">
  <i class="close icon"></i>
  <div class="header">
    Thank you!
  </div>
  <div class="content">
     You are <span style="font-weight: bold;"></span> on the waitlist. We've sent you a welcome email and will be in touch with an invitiation shortly :)
  </div>
  <div class="actions">
    <button class="ui blue button">Got it</button>
  </div>
</div>

<div id="beta-error" class="ui small modal">
  <i class="close icon"></i>
  <div class="header">
  Hi again! :)
  </div>
  <div class="content">
    We see that you had already signed up for slyp beta, and we love and appreciate your enthusiasm. We will be in touch shortly with an invite.
  </div>
  <div class="actions">
    <button class="ui blue button">Got it</button>
  </div>
</div>

<%= javascript_include_tag "home" %>
