<div class="ui top fixed secondary menu" style="background-color:white;border-bottom:1px solid gainsboro;">
  <div id="left-menu" class="ui column secondary menu" rv-hide="appState.hideNavFields < searchMode addMode">
    <div class="ui left secondary menu">
      <a id="home" class="ui basic button item" href="<%= root_path %>">
        <img src="/assets/logo.png">
        <span style="padding-bottom:30%;font-size:smaller;padding-left:5%;">BETA</span>
      </a>
    </div>
  </div>
  <div class="ui right secondary menu">
    <a class="ui basic button item" href="<%= sign_in_url %>">
      Sign in
    </a>
  </div>
</div>

<div class="ui middle aligned center aligned grid">
  <div class="ten wide column">
    <div id="main" class="ui segment">
      <div class="ui basic segment">
        <h3 class="ui header" style="color: rgba(0,0,0,0.60);">
          Hi there! You have been referred to Slyp by <b style="color:rgba(0,0,0,0.87);"><%= @referrer.display_name %></b>. <br/><br/>Enter your email and we'll send you a personal invitation:
        </h3>
      </div>
      <%= form_tag("/r/capture", method: "post", remote: true, class: "ui middle aligned form", id: "referral-capture", 'data-type': 'json') do %>
        <%= hidden_field_tag :referred_by_id, @referrer.id %>
        <%= email_field_tag :email, "", placeholder: "donald@duck.com", class: "six wide field", style: "margin-left: 30%;" %>
        <button class="ui basic primary submit button" style="margin-top:20px;">
          Get invitation
        </button>
      <% end %>
    </div>
    <div id="success-message" class="ui message" style="display:none;">
      <div class="ui positive icon message">
        <i class="inbox icon"></i>
        <div class="content">
          <div class="header">
            Check your email
          </div>
          <p>We just sent you an email with an invitation link, it will also help us make sure it is a correct and valid email address.</p>
        </div>
      </div>
    </div>
    <div id="error-message" class="ui message" style="display:none;">
      <div class="ui negative icon message">
        <i class="ban icon"></i>
        <div class="content">
          <div class="header">
            Email already in use
          </div>
          <p>Looks like this email address is already registered. <%= link_to "Login here", root_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('body').addClass('devise');
  $('#referral-capture').form({
    on     : 'blur',
    inline : true,
    fields : {
      email: {
        identifier : 'user[email]',
        rules      : [
          {
            type     : 'email'
          },
          {
            type     : 'empty'
          }
        ]
      }
    }
  });
  $('#referral-capture')
    .bind('ajax:beforeSend', function(){
      $('#main').addClass('loading');
    })
    .bind('ajax:success', function(){
      $('#success-message').show();
    })
    .bind('ajax:complete', function(){
      $('#main').removeClass('loading');
      $('#main').hide();
    })
    .bind('ajax:error', function(){
      $('#error-message').show();
    })
</script>