<script type="text/template" id="js-nav-bar-tmpl">
  <div id="left-menu" class="ui left secondary menu">
    <%= link_to root_path, :class => "item mobile hide" do %>
      <img src="/assets/logo.png">
    <% end %>
    <a class="item mobile only">
      <i class="big sidebar icon"></i>
    </a>
  </div>
  <div id="right-menu" class="ui right stackable secondary large menu mobile hide">
    <a id="back-button" class="ui item button" rv-class-loading="appState.resettingFeed" rv-show="appState.searchMode">
      <i class="arrow left icon"></i>
      Back
    </a>
    <div class="ui right aligned category large search item">
      <div id="searcher" class="ui left icon input">
        <input class="prompt" type="text" rv-value="state.searchTerm" placeholder="search">
        <i class="search icon"></i>
      </div>
    </div>
    <div class="ui right aligned category item">
      <div id="creator" class="ui left icon large input" rv-class-loading="state.creatingSlyp">
        <i class="add link icon"></i>
        <input class="prompt" type="text" rv-value="state.slypURL" placeholder="http://">
      </div>
    </div>
    <div id="user-actions" class="ui right dropdown item" data-content="<%= current_user.email %>" data-variation="mini">
      <span id="display-name" data-content="<%= current_user.email %>" data-variation="mini"><%= current_user.first_name.empty? ? current_user.email : current_user.first_name %></span>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Settings</div>
        <%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class => "ui right item" %>
        <div class="item">Help</div>
      </div>
    </div>
  </div>
</script>