<div class="ui top fixed secondary menu" style="background-color:white;border-bottom:1px solid gainsboro;">
  <div id="left-menu" class="ui column secondary menu" rv-hide="appState.usingNavBar < searchMode addMode">
    <div class="ui left secondary menu">
      <a id="home" class="ui basic button item" href="<%= root_path %>">
        <img src="/assets/logo.png">
        <span style="margin-bottom:30%;font-size:xx-small;padding-left:5%;margin-left:-8px;">BETA</span>
      </a>
    </div>
  </div>
  <div class="ui right secondary menu">
    <a class="ui basic button item" href="<%= User.support_user.referral_link %>" style="margin-right:50px;">
      Get early access
      <i class="newspaper icon" style="margin-left:10px;"></i>
    </a>
  </div>
</div>

<div class="ui container">
  <div class="ui center aligned basic segment">
    <%= link_to user_facebook_omniauth_authorize_path do %>
      <button class="ui facebook big button">
        <i class="facebook icon"></i>
       Login with Facebook
      </button>
    <% end %>
  </div>
  <div class="ui horizontal divider">
    Or
  </div>
  <div class="ui grid">
    <div class="ui centered column">
      <%= form_for(resource, :as => resource_name, :url => session_path(:user), :class => "ui form") do |f| %>
        <div class="two fields">
          <div class="field">
            <div class="ui center aligned container">
              <div class="ui left icon input">
                <i class="user icon"></i>
                  <%= f.text_field :email, :placeholder => "my email" %>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui center aligned container">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                  <%= f.password_field :password, :placeholder => "top secret password" %>
              </div>
            </div>
          </div>
        </div>
        <div class="ui basic center aligned segment" style="padding-left: 15%;">
          <button class="ui large submit basic primary button">Login</button>
          <%= link_to "Forgot your password?", new_password_path(:user) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('body').addClass('devise');
</script>
