<div class="ui middle aligned center aligned grid">
  <div class="column login-form">
    <h2 class="ui image header">
      <%= link_to image_tag("/assets/logo.png"), root_path, { class: "image" } %>
    </h2>

    <div class="ui very padded segment">
      <h4 class="ui header" style="color:rgba(0,0,0,0.60);padding-bottom:10px;">
        Hi! Welcome to Slyp :) You are currently accepting an invitation from <b style="color:rgba(0,0,0,0.87);"><%= @inviter.try(:display_name) %></b> for <b style="color:rgba(0,0,0,0.87);"><%= @invitee.try(:display_name) %></b>. <br/><br/>Find out more about <%= link_to "Slyp", root_path, target: "_blank" %>.
      </h4>
      <%= link_to user_facebook_omniauth_authorize_path do %>
        <button class="ui facebook big button">
          <i class="facebook icon"></i>
         Continue with Facebook
        </button>
      <% end %>
    </div>

    <div id="no-facebook" class="ui message">
      <a>Don't have Facebook?</a>
    </div>
    <div id="manual-signup" class="ui segment" style="display: none;">
      <div class="ui very padded segment">
        <div class="ui header" style="color: rgba(0,0,0,0.60);">
          We are currently only accepting signups via Facebook. If you'd prefer not to sign up with Facebook (or don't have one) you can enter your details to join the waitlist.
        </div>
      </div>
      <%= simple_form_for resource, as: resource_name, url: "/users/waitlist", html: { autocomplete: "off", method: :put } do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :invitation_token %>

        <%= f.input :first_name, :required => true %>
        <%= f.input :last_name, :required => true %>
        <%= f.input :email, disabled: true %>
        <%= f.button :submit, "Join waitlist" %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('body').addClass('devise');
  $('#no-facebook').on('click', function(){
    $('#manual-signup').toggle();
  });
</script>
