<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

<p><%= t("devise.mailer.invitation_instructions.what_is_slyp", invited_by: @resource.invited_by.try(:full_name) || "Someone") %></p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept", invited_by: @resource.invited_by.try(:full_name) || "Someone"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p><%= t("devise.mailer.invitation_instructions.bye").html_safe %>
  <br/><%= t("devise.mailer.invitation_instructions.from").html_safe %>
</p>
